<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">The members {{team.title + '\'s'}}</h4>
            </div>
            <div class="modal-body">



                <table class="table table-valign table-modal" style="margin: 0">
                    <colgroup>
                        <col width="1">
                        <col>
                        <col>
                        <col width="1">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Invintation</th>
                        </tr>
                        <tr ng-repeat="user in team.users">
                            <td>
                                <button class="btn btn-default btn-delete btn-xs" ng-click="removeMember(user, team)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                            <td>
                                <span ng-bind="user.firstName + ' ' + user.lastName"></span>
                            </td>
                            <td>
                                <span ng-bind="user.email"></span>
                            </td>
                            <td>
                                <span class="label label-success">Accepted</span>

                            </td>
                        </tr>
                        <tr ng-if="!team.users.length">
                            <td colspan="2" align="center">
                                <p>No one member in this team</p>
                            </td>
                        </tr>
                        <tr ng-repeat="invitation in team.invitations">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <span ng-bind="invitation.email"></span>
                            </td>
                            <td>
                                <span class="label label-warning">Approval</span>
                            </td>
                        </tr>
                    </tbody>
                </table>




            </div>
            <div class="modal-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="New member" ng-model="newMemberEmail">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addMember(team, newMemberEmail);">Invite Member</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>