@import "variables";
@import "social";
@import "flextable";
$primary-color: #008cba;
$primary-border-color: #0079a1;
body {}

.btn.btn-delete {
    border: 0;
    &:hover,
    &:active,
    &:hover:active {
        // background: none;
        color: red;
    }
}

.noresize {
    resize: none;
}

textarea.expand-focus:focus {
    margin-bottom: -1.5em;
    z-index: 10;
    position: relative;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
}


/* Tabs */

.nav-tabs {
    li:hover {
        cursor: pointer;
    }
    .tab-primary a {
        border-color: $primary-border-color;
        &:hover {
            border-color: $primary-border-color $primary-border-color #dddddd;
        }
    }
    .tab-primary.active {
        &>a,
        &:hover>a,
        &:focus>a {
            border-color: $primary-border-color $primary-border-color #fff;
        }
    }
    .active .badge {
        visibility: hidden;
    }
    .badge {
        background-color: #bdbdbd;
    }
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
    border: none;
}

.table-valign tbody tr td,
.table-valign tbody tr th,
.table-valign thead tr th {
    vertical-align: middle;
}

.table-modal tbody tr th {
    border-top: none;
}