<footer class="footer navbar-fixed-bottom slide-top slide-top" *ngIf="task" [@currentTask]="task" style="background-color: whitesmoke; border-top: 1px solid #008cba;">
    <div class="container">
        <div class="flex-row">
            <div class="flex-cell" style="flex-basis: 200px">
                <select class="form-control input-sm" [(ngModel)]="task.project" (ngModelChange)="taskChanged(task)">
                    <option *ngFor="let project of projects" [ngValue]="project._id">{{project.title}}</option>
                </select>
            </div>

            <div class="flex-cell flex-cell_wrap flex-cell_grow">
                <textarea type="text" class="form-control input-sm noresize" [(ngModel)]="task.description" (ngModelChange)="taskChanged(task)" rows="1"></textarea>
            </div>

            <div class="flex-cell" style="flex-basis: 140px">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" [(ngModel)]="task.time" [disabled]="task.isTracking" (ngModelChange)="taskChanged(task)" inputDate/>

                    <span class="input-group-btn">
                        <button class="btn btn-secondary btn-sm" type="button" (click)="trackTask(task)" [class.btn-warning]="task.isTracking">
                            <i class="glyphicon glyphicon-time"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="flex-cell flex-cell_nogrow">
                <button class="btn btn-primary btn-sm" (click)="gotoTask()">
                        <i class="glyphicon glyphicon-arrow-up"></i>
                </button>
            </div>

        </div>
    </div>
</footer>