<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="team">

            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">The members {{team.title + '\'s'}}</h4>
            </div>

            <div class="modal-body">
                <table class="table table-valign table-modal" style="margin: 0">
                    <tbody>
                        <tr>
                            <th width="1" *ngIf="team.isOwner"></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th width="1">Invitation</th>
                        </tr>

                        <tr *ngFor="let user of team.users">
                            <td *ngIf="team.isOwner">
                                <button class="btn btn-default btn-delete btn-xs" (click)="removeMember(team, user)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                            <td>
                                {{user.firstName + ' ' + user.lastName}}
                            </td>
                            <td>
                                {{user.email}}
                            </td>
                            <td>
                                <span class="label label-success">Accepted</span>
                            </td>
                        </tr>

                        <tr *ngIf="team.users.length === 0">
                            <td colspan="4" align="center">
                                <p>No one member in this team</p>
                            </td>
                        </tr>

                        <tr *ngFor="let invitation of team.invitations">
                            <td>
                                <button class="btn btn-default btn-delete btn-xs" (click)="removeInvitation(invitation)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                            <td>
                            </td>
                            <td>
                                {{invitation.email}}
                            </td>
                            <td>
                                <span class="label label-warning">Approval</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer" *ngIf="team.isOwner">
                <div class="input-group" [class.has-error]="newMemberModel.invalid && newMemberModel.dirty">
                    <input type="text" class="form-control" placeholder="New member"
                        [(ngModel)]="newMemberEmail" pattern="^[a-zA-Z0-9](\.?[\-_a-zA-Z0-9])*@[a-zA-Z0-9\-]{1,}(\.[a-zA-Z]{2,}){1,}$"
                        #newMemberModel="ngModel">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="addMember(team, newMemberEmail)" [disabled]="newMemberModel.invalid">Invite Member</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>