<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" *ngIf="team">

            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">The categories {{team.title + '\'s'}}</h4>
            </div>


            <div class="modal-body">
                <table class="table table-valign table-modal" style="margin: 0">
                    <tbody>
                        <tr>
                            <th width="1" *ngIf="team.isOwner"></th>
                            <th>Title</th>
                        </tr>

                        <tr *ngFor="let category of team.categories">
                            <td *ngIf="team.isOwner">
                                <button class="btn btn-default btn-delete btn-xs" (click)="removeCategory(category)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                            <td>
                                {{category.title}}
                            </td>
                        </tr>

                        <tr *ngIf="!team.categories.length">
                            <td colspan="2" align="center">
                                <p>No one categories in this team</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer" *ngIf="team.isOwner">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="New category" [(ngModel)]="newCategoryTitle">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="addCategory(team, newCategoryTitle);">Add Category</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>