@import "social";
$primary-color: #008cba;
$primary-border-color: #0079a1;
body {}

.btn.btn-delete {
    border: 0;
    &:hover,
    &:active,
    &:hover:active {
        // background: none;
        color: red;
    }
}

.noresize {
    resize: none;
}

textarea[expand-focus]:focus {
    margin-bottom: -1.5em;
    z-index: 1;
    position: relative;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
}


/* Tabs */

.nav-tabs {
    .tab-primary a {
        border-color: $primary-border-color;
        &:hover {
            border-color: $primary-border-color $primary-border-color #dddddd;
        }
    }
    .tab-primary.active {
        &>a,
        &:hover>a,
        &:focus>a {
            border-color: $primary-border-color $primary-border-color #fff;
        }
    }
    .active .badge {
        visibility: hidden;
    }
    .badge {
        background-color: #bdbdbd;
    }
}