<div class="container">

    <div class="page-header">
        <h2>Teams</h2>
    </div>

    <div class="alert alert-info" role="alert" *ngFor="let invitation of invitations">
        You has been invited to team <b>{{invitation.team}}</b>
        <div class="pull-right" style="margin-top: -6px">
            <button class="btn btn-default btn-xs" (click)="acceptInvitation(invitation)">Accept</button>
            <button class="btn btn-danger btn-xs" (click)="refuseInvitation(invitation)">Refuse</button>
        </div>
    </div>


    <div class="input-group">
        <input type="text" class="form-control" placeholder="New Team Title" [(ngModel)]="newTeamTitle">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="addTeam()">Add Team</button>
        </span>
    </div>
    <br>

    <div class="panel panel-default" *ngFor="let team of teams">
        <div class="panel-heading">
            Team: <b>{{team.title}}</b>
            <span class="pull-right label label-info" *ngIf="team.isOwner">Owner</span>
        </div>
        <div class="panel-body" *ngIf="team.isOwner">
            <button class="btn btn-primary btn-xs" (click)="openProjects(team)">Projects</button>
            <button class="btn btn-primary btn-xs" (click)="openMembers(team)">Members</button>
            <button class="btn btn-danger btn-xs" (click)="removeTeam(team)">Remove</button>
        </div>

        <!--<table class="table table-condensed">
            <tbody>
                <tr>
                    <td>
                        Projects Count
                    </td>
                    <td>
                        {{team.projects.length}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Members Count
                    </td>
                    <td>
                        {{team.users.length}}
                    </td>
                </tr>
            </tbody>
        </table>-->

    </div>
</div>

<tt-members-modal #membersModal="modal" [team]="selectedTeam"></tt-members-modal>
<tt-projects-modal #projectsModal="modal" [team]="selectedTeam"></tt-projects-modal>