<div class="container">

    <div class="page-header">
        <h2>Profile info</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img ng-src="{{currentUser.avatar}}" alt="" class="avatar img-circle img-thumbnail">
            </div>
        </div>
        <div class="col-md-8">
            <h4>Bio</h4>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First Name</label>
                    <div class="col-lg-8"><input type="text" class="form-control" ng-model="currentUser.firstName" ng-disabled="true"></div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last Name</label>
                    <div class="col-lg-8"><input type="text" class="form-control" ng-model="currentUser.lastName" ng-disabled="true"></div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-8"><input type="text" class="form-control" ng-model="currentUser.email" ng-disabled="true"></div>
                </div>
            </form>
        </div>
    </div>


</div>