<div class="container">
    <div class="jumbotron">
        <h1>Time tracker</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in.</p>

        <div class="row">
            <div class="col-sm-6">

                <form action="">
                    <div class="form-group">
                        <input type="text" ng-model="user.name" class="form-control input-lg" placeholder="Username"></div>
                    <div class="form-group">
                        <input type="text" ng-model="user.password" class="form-control input-lg" placeholder="Password"></div>
                </form>
                <p><a class="btn btn-lg btn-success btn-block" href="#" role="button">Log in</a></p>

            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, rerum.</p>
                <p><a href="#">Link to </a></p>
            </div>
        </div>
    </div>
</div>